<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title urMusiQ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>

</head>
<body>
    @if (User.Identity.Name != "")
    { 
        <div class="navbar navbar-inverse navbar-fixed-top">
            <button id="sidr-btn" class="btn btn-danger btn-sm queue-button pull-left" type="button">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            @Html.ActionLink("urMusiQ", "Index", "Home", null, new { @class = "logo-navbar pull-right" })
                            <div>
                                <div id="songText">
                                    <div style="text-align: center;">
                                        <strong>Trophies</strong>
                                        <span>by</span>
                                        <strong>Drake</strong>
                                    </div>
                                </div>
                                <audio controls="controls" id="audio" preload="auto" tabindex="0" class="center"></audio>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidr" class="sidr left" style="display: block;">
           <div class="row" style="margin-left:0; margin-right:0;">
               <div class="col-sm-4" style="margin-top:100px;">
                   <img class="img-circle" style="width:45px; height:45px; margin-left:15px" src="~/Content/images/Koala.jpg" />
               </div>
               <div class="col-sm-6" style="margin-top:100px;">
                   <h4 style="margin-top: 15px;">Julio Garcia</h4>
               </div>
           </div>
          <ul class="text-center" style="margin-top:10px;">
            <li class=""><a class="sidr-links" id="urProfile" href="#"><span class="glyphicon glyphicon-user" style="color: rgb(81, 199, 209); margin-right: 10px;"></span>Profile</a></li>
            <li><span class="glyphicon glyphicon-headphones" style="color: rgb(81, 199, 209); margin-right: 10px;"></span><a class="sidr-links" id="urQueue" href="#">Queue</a></li>
            <li><a class="sidr-links" href="#"><span class="glyphicon glyphicon-log-out" style="color: rgb(81, 199, 209); margin-right: 10px;"></span>Logout</a></li>
          </ul>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var toggle = false;
        var scrnwidth;
        $(document).ready(function () { 
            scrnwidth = $(this).width;
            $('#sidr-btn').click(function (e) {
                $(this).attr("disabled", "disabled");
                if (toggle) {
                    
                    toggle = false;
                    console.log(toggle);
                    $('#sidr').animate({
                        left: "-=260"
                    }, 500);
                    //$('body').css('position', 'absolute');
                    $('body').animate({
                        left: "-=280"
                    }, 500);
                } else
                {
                    toggle = true;
                    console.log(toggle);
                    $('#sidr').animate({
                        left: "+=260"
                    }, 500);
                    //$('body').css('position', 'fixed');
                    $('body').animate({
                        left: "+=280"
                    }, 500);
                }
                setTimeout('$("#sidr-btn").removeAttr("disabled")',500);
            });
            //$(function () {
            //    var prev;
            //    $('#urProfile').hover(function () {
            //        prev = $(this).text();
            //        $(this).text("urProfile");
            //    }, function () {
            //        $(this).text(prev)
            //    });
            //});
            //$(function () {
            //    var prev;
            //    $('#urQueue').hover(function () {
            //        prev = $(this).text();
            //        $(this).text("urQueue");
            //    }, function () {
            //        $(this).text(prev)
            //    });
            //});
        });
    </script>
</body>

</html>
