@{
    Musiq.ExtensionClasses.MusiqPrincipal Account = null;
}

<!DOCTYPE html>
<html ng-app="musiqApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urMusiQ</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/socket.io.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
</head>
<body>
    <div ng-controller="MusiqController">
        @if (User.Identity.IsAuthenticated)
        {
            Account = (Musiq.ExtensionClasses.MusiqPrincipal)User;
            <div id="sidr" class="sidr left" style="display: block;">
                <ul class="text-center" style="margin-top:10px;">
                    <li><h1 class="logo-navbar text-center">urMusiQ</h1></li>
                    <li class="sidr-profile" style="display:-webkit-inline-box;"><img class="img-circle" style="width:55px; height:55px; margin-left:30px; margin-top:30px;" src="~/@Account.UserInformation.ProfilePicURL" /><h4 style="margin-top: 45px; margin-left: 15px; font-family: HelveticaLight; font-weight: 200; color: rgb(81, 199, 209);">@Account.UserInformation.FirstName</h4></li>
                    <li class="sidr-followers sidr-followers-nums" style="display:-webkit-inline-box;"><a href="#" class="sidr-links" style="margin-left:39px; font-size: 16px;">Following</a><a class="sidr-links" href="#" style="margin-left: 18px; font-size: 16px;">Followers</a></li>
                    <li><input class="nav-form-control margin-center" placeholder="Search" id="full-search"></li>
                    <li><a class="sidr-links" href="#"><span class="glyphicon glyphicon-list-alt sidr-icons"></span>Top Songs</a></li>
                    <li><a class="sidr-links" id="urProfile" href="#" ng-click="loadProfile();"><span class="glyphicon glyphicon-music sidr-icons"></span>urMusic</a></li>
                    <li><a class="sidr-links" id="urQueue" href="#" ng-click="loadQueue();"><span class="glyphicon glyphicon-headphones sidr-icons"></span>Queue</a></li>
                    <li><a class="sidr-links" href="#" ng-click="loadRemote();"><span class="glyphicon glyphicon-phone sidr-icons"></span>Remote</a></li>
                    <li>
                        <a ng-click="settings = ! settings" class="sidr-links" href="#"><span class="glyphicon glyphicon-cog sidr-icons"></span>Settings</a>
                        <a ng-show="settings" class="sidr-sub" href="~/logout">Logout</a>
                        <a ng-show="settings" class="sidr-sub" href="#">Manage</a>
                    </li>
                    <li><audio controls="controls" id="audio" preload="auto" tabindex="0" class="center"></audio></li>
                </ul>
            </div>
        }
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script>

            var toggle = false;
            var scrnwidth;
            var socket;
            $(document).ready(function () {
                scrnwidth = $(this).width;
                $('#sidr-btn').click(function (e) {
                    $(this).attr("disabled", "disabled");
                    if (toggle) {

                        toggle = false;
                        console.log(toggle);
                        $('#sidr').animate({
                            left: "-=260"
                        }, 500);
                        //$('body').css('position', 'absolute');
                        $('body').animate({
                            left: "-=280"
                        }, 500);
                    } else {
                        toggle = true;
                        console.log(toggle);
                        $('#sidr').animate({
                            left: "+=260"
                        }, 500);
                        //$('body').css('position', 'fixed');
                        $('body').animate({
                            left: "+=280"
                        }, 500);
                    }
                    setTimeout('$("#sidr-btn").removeAttr("disabled")', 500);
                });






            });

        </script>
        <script>
            var musiqApp = angular.module('musiqApp', []);

            musiqApp.controller('MusiqController', ['$http', '$scope', '$timeout',
                function ($http, $scope, $timeout) {
                    $scope.songs = [];
                    $scope.songQueue = [];

                    $scope.settings = false;

                    $scope.loading = false;
                    $scope.profile = true;
                    $scope.queue = false;
                    $scope.remote = false;

                    $scope.login = true;
                    $http.get('/api/music/').success(function (data) {
                        $scope.songs = data;
                        console.log($scope.songs);
                        $.getScript("../scripts/music/audioplayback.js").done(function (script, textStatus) {
                        });
                    });

                    $scope.addToQueue = function (song) {
                        $scope.songQueue.push(song);
                    };

                    $scope.loadProfile = function () {
                        $scope.loading = true;
                        $scope.remote = false;
                        $scope.queue = false;
                        $scope.profile = true;
                        $timeout(function () {
                            $scope.loading = false;
                        }, 1000);

                    };

                    $scope.loadRemote = function () {
                        $scope.loading = true;
                        $scope.profile = false;
                        $scope.queue = false;
                        $scope.remote = true;
                        $timeout(function () {
                            $scope.loading = false;
                        }, 2000);
                    };

                    $scope.loadQueue = function () {
                        $scope.profile = false;
                        $scope.remote = false;
                        $scope.queue = true;
                    };

                }]);
        </script>

</body>

</html>
