<!DOCTYPE html>
<html>
<html ng-app="musiqApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title urMusiQ</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/socket.io.min.js"></script>
</head>
<body>
    <div ng-controller="MusiqController" id="music-container">
        @if (User.Identity.Name != "")
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <button id="sidr-btn" class="btn btn-danger btn-sm queue-button pull-left" type="button">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ActionLink("urMusiQ", "Index", "Profile", null, new { @class = "logo-navbar pull-right" })
                            <div>
                                <div id="songText">
                                    <div style="text-align: center;">
                                        <strong id="current-song"></strong>
                                        <span style="display:none;" id="by_span">by</span>
                                        <strong id="current-artist"></strong>
                                    </div>
                                </div>
                            </div>
                            <audio controls="controls" id="audio" preload="auto" tabindex="0" class="center"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div id="sidr" class="sidr left" style="display: block;">            <ul class="text-center" style="margin-top:10px;">
                <li><h1 class="logo-navbar text-center">urMusiQ</h1></li>
                <li class="sidr-profile" style="display:-webkit-inline-box;"><img class="img-circle" style="width:55px; height:55px; margin-left:30px; margin-top:30px;" src="~/Content/images/Koala.jpg" /><h4 style="margin-top: 45px; margin-left: 15px; font-family: HelveticaLight; font-weight: 200; color: rgb(81, 199, 209);">Julio Garcia</h4></li>
                <li class="sidr-followers sidr-followers-nums" style="display:-webkit-inline-box;"><a href="#" class="sidr-links" style="margin-left:39px; font-size: 16px;">Following</a><a class="sidr-links" href="#" style="margin-left: 18px; font-size: 16px;">Followers</a></li>
                @*<li class="sidr-followers-nums"><a class="sidr-links" href="#">11</a><a class="sidr-links" href="#">11</a></li>*@
                <li><input class="nav-form-control margin-center" placeholder="Search"></li>
                <li><a class="sidr-links" href="#"><span class="glyphicon glyphicon-list-alt sidr-icons"></span>Top Songs</a></li>
                <li><a class="sidr-links" id="urProfile" href="#"><span class="glyphicon glyphicon-music sidr-icons"></span>urMusic</a></li>
                <li><a class="sidr-links" id="urQueue" href="#"><span class="glyphicon glyphicon-headphones sidr-icons"></span>Queue</a></li>
                <li><a class="sidr-links" href="#"><span class="glyphicon glyphicon-phone sidr-icons"></span>Remote</a></li>
                <li><a class="sidr-links" href="#"><span class="glyphicon glyphicon-cog sidr-icons"></span>Settings</a></li>
            </ul>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script>
            var toggle = false;
            var scrnwidth;
            var socket;
            $(document).ready(function () {
                scrnwidth = $(this).width;
                $('#sidr-btn').click(function (e) {
                    $(this).attr("disabled", "disabled");
                    if (toggle) {

                        toggle = false;
                        console.log(toggle);
                        $('#sidr').animate({
                            left: "-=260"
                        }, 500);
                        //$('body').css('position', 'absolute');
                        $('body').animate({
                            left: "-=280"
                        }, 500);
                    } else {
                        toggle = true;
                        console.log(toggle);
                        $('#sidr').animate({
                            left: "+=260"
                        }, 500);
                        //$('body').css('position', 'fixed');
                        $('body').animate({
                            left: "+=280"
                        }, 500);
                    }
                    setTimeout('$("#sidr-btn").removeAttr("disabled")', 500);
                });


            });

        </script>
</body>

</html>
